.cursor {
    width: 20px;
    height: 20px;
    background-color: #F09564;
    position: fixed;
    border-radius: 50%;
    transition: 0.08s;
}

/* hide the cursor custom for the mobile */
@media screen and (max-width: 768px) {
    .cursor {
        display: none;
    }
}